<div class="top__btns">
    <div class="container">
        <div class="file-upload">
            <label>
                <input type="file" name="file" class="add__new--img" ng-model="tet" ng-change="uploadNewFile()">
                <span>File</span>
            </label>
        </div>
        <button class="preview__btn" id="preview__btn" disabled ng-click="cutImage()">Preview</button>
    </div>
</div>

<section class="img__block">
    <div class="container">
        <div class="img__canvas" id='test_id'>
            <img src=" " alt="" id="upload__img">
            <canvas class="canvas" id="canvas">
                Your browser does not support the canvas element.
            </canvas>
        </div>
    </div>
</section>

<section class="preview__block">
    <div class="container">
        <div class="close__btn">
            <button class="back__btn">
                Back to changes
            </button>
        </div>
        <div class="btn download__btn--block">
            <a href=" " class="download__btn " id="prev__cut__image__url" download>Download</a>
        </div>
        <canvas id="canvas__preview" class="canvas__preview">
            Your browser does not support the canvas element.
        </canvas>
    </div>
</section>

<div class="hidden__canvas--section">
    <div class="container">
        <canvas id="hidden__canvas" class="hidden__canvas">
            Your browser does not support the canvas element.
        </canvas>
    </div>
</div>